<div>
  <%= flash[:notice] %>
</div>

<h2>書籍名</h2>
<p><%= @list.title %></p>

<h2>感想</h2>
<p><%= @list.body %></p>

<h2>画像</h2>
<%= image_tag @list.image, size: "300x300" %>

<%= link_to "編集する", edit_list_path(@list.id) %>
<%= link_to "削除する", list_path(@list.id), method: :delete, "data-confirm" => "本当に投稿を削除しますか？" %>